<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
<title>Emotion Detection</title>
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon1@1x.ico') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css" media="all">
</head>
<body>



<!-- Obri Banner -->
<section class="obri-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="banner-caption">
          <h1 class="caption-title">Emotion Detection</h1>
          <p>It is deployed on flask with opencv for detection</p>    
        </div>
      </div>
      <div class="col-lg-3">
        <div class="banner-image"><img  src="{{ url_for('video_feed') }}" alt="Banner Image"></div>
      </div>
    </div>
  </div>
</section>









</body>
</html>
